@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Courgette', cursive;
}

body {
    background-color: #17141d;
    color: white;
}

a {
    text-decoration: none;
}


/* Horizontal Scroll Bar 
-------------------------*/
#cards-section::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#cards-section::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

#cards-section::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}


/* Main Cards Container */

#cards-section {
    display: flex;
    overflow-x: scroll;
    padding: 3rem;
}


/* Card */

.card {
    height: 21.875rem;
    width: 25rem;
    min-width: 15.625rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    clear: both;
    position: relative;
    transition: 0.3s;
}

.card:focus-within ~ .card, .card:hover ~ .card { 
    transform: translateX(8.125rem);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -8.125rem;
}


/* Cards Inside 
---------------*/

/* Header Area */

.card-header {
    margin-bottom: auto;
}

.card-header p {
    font-size: 0.875rem;
    color: #7a7a8c;
    margin-bottom: 1rem;
}

.card-header h2 {
    font-size: 1.25rem;
    margin: .25rem 0 auto;
    display: inline-block;
    cursor: pointer;
    letter-spacing: .07rem;
}


/* Author Area */

.card-header h2:hover {
    background: linear-gradient(90deg, #0F00FF,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.card-author {
    margin: 3rem 0 0;
    display: grid;
    grid-template-columns: 4.688rem 1fr;
    align-items: center;
    position: relative;
} 

.author-avater {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
}

.author-avater img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: block;
    margin: 1rem 0.625rem;
}

.author-name {
    grid-area: auto;
    box-sizing: border-box;
}

.author-name-prefix {
    color: #7a7a8c;
}

.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3rem;
    width: 3.75rem;
    fill: none;
    stroke: #6E3CBC;
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}


/* Tag Area */

.tag {
    margin-top: 1rem;
    padding: .5rem 0 1rem;
    line-height: 2;
}

.tag a {
    font-size: .7rem;
    font-family: 'DM Mono', monospace;
    font-weight: 900;
    color: #7a7a8c;
    border: 2px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .70rem .25rem;
    position: relative;
}


/* Tag Sectin */

.tag a:hover {
    background:#6E3CBC;
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    border-color: white;
}
